body {
	background-image: url(../images-src/purple-gray.png);
}

.img-responsive {
	margin: 0 auto;
}

.title-bar {
	background-image: url(../images-src/linen-gray.png);
	border-bottom: 3px solid gray;
	margin-bottom: 50px;
	padding-right: 20px;
}

.featured-work {
	margin-top: 30px;
	margin-bottom: 15px;
}

#featured-heading{
	font-size: 45px;
	font-weight: 400;
	font-family: 'Courgette', cursive;
	color:white;
}

@media screen and (max-width: 575px) {
	#featured-heading {
		font-weight: 100;
		font-size: 30px;
	}
}

@media screen and (max-width: 436px) {
	#featured-heading {
		font-weight: 100;
		font-size: 25px;
	}
}

#thinner-font {
	font-weight: 200;
	font-size: 80px;
	font-family: 'Allura', cursive;
	color: white;
}

#thicker-font {
	font-family: 'Courgette', cursive;
	font-weight: 200;
	font-size: 30px;
	color: white;
}

@media screen and (max-width: 575px) {
	#thinner-font {
		font-weight: 100;
		font-size: 60px;
	}
}

@media screen and (max-width: 436px) {
	#thinner-font {
		font-weight: 100;
		font-size: 40px;
	}
}

@media screen and (max-width: 575px) {
	#thicker-font {
		font-weight: 100;
		font-size: 20px;
	}
}

@media screen and (max-width: 436px) {
	#thicker-font {
		font-weight: 100;
		font-size: 18px;
	}
}
.cap-height {
	max-height: 500px;
}

@media screen and (min-width: 990px) {
	.cap-height {
		min-width: 100%;
	}
}

.text-center {
	text-align: center;
}

.bottom-margin {
	margin-bottom: 30px;
}

.img-circle {
	border:10px solid white;
}

.app-font {
	color: white;
	font-family:'Courgette', cursive; 
}
